#myName {font-size: 40px}

nav{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0px;
    border-bottom: 4px solid gold;  

}

h1{
    float: left
    margin: 5px 20%
}

h2{
    font-size:28px 
    float: right;
    margin: 5px 20%;
}
body {
    margin-top:100px
   }




