
nav{
    float: left;
    width: 100%;
    border-bottom: 4px solid gold;  

}

h1{
    float: left;
    font-size: 40px;
    font-family: "My Custom Font", Verdana, Tahoma;
    color: #007bff;
    margin-left: 5px; 
}

h2 {
    position: absolute;
    text-align: right;
    font-size:20px;
    width: 100%; 
    margin-top: 20px;
    margin-right: 20px;
}
.background {
    position: relative; 
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.background::before { 
    content: "";
    background-color: rgb(250, 250, 178);
    background-image: url(https://reganmurray22.github.io/About-Me/assets/images/Kandinsky.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;

}
.my-bio {
    height: 200px

}


.project-box {
    height: 200px;
    background-color: whitesmoke;
    border: 3px solid gold;

}

.space-between{
    height: 10px;
    width: 100%;
}

.content{
    float: left;
    text-align: left;
    background-color:#ffffff;
    border-radius: 15px;
    padding: 10px;
    width: 960px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 5%;

}

h3 {
    text-align: center
}

