
nav {
    float: left;
    width: 100%;
    border-bottom: 4px solid gold;  
}

.background {
    position: relative; 
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.background::before { 
    content: "";
    background-color: rgb(250, 250, 178);
    background-image: url(https://reganmurray22.github.io/About-Me/assets/images/Kandinsky.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.about-me {
    position: absolute;
    left: 0px;
    top: 75px;
}

.hello {
    text-align: center;
    font-size: 40px;
    color: rgb(8, 8, 68);
    font-family: "cookie";
}

.my-image {
    text-align: center;
}

img {
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 50%;
}

.content-box {
    height: 200px;
    background-color: whitesmoke;
    border: 3px solid gold;
    font-size: 40px;
    text-align: center;
}

h2 {
    width: 100%;
    font-size: 60px;
    color: rgb(8, 8, 68); 
    font-family: "cookie";
    text-align: center; 
}

.content-box1 {
    height: 200px;
    background-color: whitesmoke;
    border: 3px solid gold;
    background: url(./images/project-image.jpg); 
    background-size: cover;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

h4 {
    width: 100%;
    font-size: 60px;
    color: rgb(8, 8, 68); 
    font-family: "cookie";
    text-align: center;
}

.space-between {
    height: 10px;
    width: 100%;
}

.row {
    width: 100%;
    margin-left: 0;
}


.contact-me {
    position: absolute;
    left: 0px;
    top: 80px;
    right: 0;
    bottom: 0;
    text-align: center;
}

footer {
    color: blue;
    clear: both;
    text-align: center;
    border-top: 3px solid gold;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}